<!doctype html>
<html lang="es" ng-app="appDemo">
  <head>
    <meta charset="utf-8">
    <title>Mi primera App Angular</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <h1 class="jumbotron">Mi primera App Angular y Con CoffeeScript</h1>
          <!-- Content Body -->
          hola {{ 'Brandon' + '!' }}
        </div>
      </div>
    </div>
    <div class="container">
    <div ng-controller="InstrumentosListadoCtrl">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="m in model">
        <b>{{ m.marca }}</b> {{ m.nombre }} - USD {{ m.precio }}
        {{m.marca + m.nombre}}
        <button class="btn btn-danger btn-xs pull-right" ng-click="remove($index)" type="button">Retirar</button>
        </li>
      </ul>
    <ul class="list-group">
      <li class="list-group-item">
      <form class="form-inline" ng-submit="registrar()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Marca" ng-model="marca">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Nombre" ng-model="nombre">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Precio" ng-model="precio">
        </div>
        <button type="submit" class="btn btn-default">Agregar</button>
      </form>
      </li>
      <div class="row">
        <div class="col-lg-12">
      {{entero + entero}} Esta la suma de dos enteros
        </div>
      </div>
      <li>
      Numero de elementos {{sizeList}}
      </li>
      <li>
      Costo total de los productos {{cost}}
      </li>

    </div>

  </div>
    <script src="angular.min.js"></script>
    <script src="coffeeScripts/controllers/indexController.js"></script>
  </body>
</html>
